<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    					http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="personId" class="com.kxx.f_xml.b_setter.Person">
    	<property name="name" value="小新"></property>
    	<property name="age">
    		<value>10</value>
    	</property>
    	<property name="homeAddr" ref="homeAddrId"></property>
    	<property name="companyAddr">
    		<ref bean="companyAddrId"/>
    	</property>
    </bean>
    
    <bean id="homeAddrId" class="com.kxx.f_xml.b_setter.Address">
    	<property name="homeAddr" value="中国"></property>
    	<property name="tel" value="010-12345678"></property>
    </bean>
    
    <bean id="companyAddrId" class="com.kxx.f_xml.b_setter.Address">
    	<property name="homeAddr" value="美国"></property>
    	<property name="tel" value="010-87654321"></property>
    </bean>
</beans>